{
  "openapi": "3.1.0",
  "info": {
    "title": "video2ctx API",
    "version": "1.0.0",
    "license": {
      "name": "Apache License 2.0",
      "identifier": "Apache-2.0"
    },
    "description": "Consumer-facing contract for the hosted video2ctx API. First-party application and operator routes are documented separately at https://docs.video2ctx.dev/internals/overview."
  },
  "security": [],
  "servers": [
    {
      "url": "https://api.video2ctx.dev",
      "description": "Hosted video2ctx API"
    }
  ],
  "tags": [
    {
      "name": "System",
      "description": "Service status and machine-readable documentation."
    },
    {
      "name": "Authentication",
      "description": "Better Auth entry points used by the web application."
    },
    {
      "name": "Providers",
      "description": "Supported external video providers and their capabilities."
    },
    {
      "name": "Discovery",
      "description": "Search, browse, and trend research."
    },
    {
      "name": "Videos",
      "description": "Video metadata and evidence."
    },
    {
      "name": "Channels",
      "description": "Channel inspection."
    },
    {
      "name": "Playlists",
      "description": "Playlist inspection."
    },
    {
      "name": "Projects",
      "description": "Private research projects and saved material."
    },
    {
      "name": "Research",
      "description": "Imports, jobs, cited answers, comparisons, and reports."
    },
    {
      "name": "Exports",
      "description": "Project export creation and download."
    },
    {
      "name": "Monitoring",
      "description": "Monitors, notifications, and digest preferences."
    },
    {
      "name": "Billing",
      "description": "Checkout, usage, and Stripe webhook handling."
    },
    {
      "name": "Account",
      "description": "Account lifecycle operations."
    }
  ],
  "paths": {
    "/": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "getServiceInfo",
        "summary": "Get platform information",
        "responses": {
          "200": {
            "description": "Platform information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ServiceInfo"
                }
              }
            }
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/health": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "getHealth",
        "summary": "Check platform health",
        "responses": {
          "200": {
            "description": "The platform is healthy.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Health"
                }
              }
            }
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/openapi.json": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "getOpenApiDocument",
        "summary": "Get the OpenAPI document",
        "responses": {
          "200": {
            "description": "OpenAPI 3.1 document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/docs": {
      "get": {
        "tags": [
          "System"
        ],
        "operationId": "getApiReference",
        "summary": "Open the Scalar API reference",
        "responses": {
          "200": {
            "description": "Interactive Scalar API reference.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/api/auth/device/code": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "startDeviceAuthorization",
        "summary": "Start CLI device authorization",
        "description": "Issues a short-lived device code and a user code for the registered video2ctx CLI client.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "client_id"
                ],
                "properties": {
                  "client_id": {
                    "type": "string",
                    "const": "video2ctx-cli"
                  },
                  "scope": {
                    "type": "string",
                    "const": "data:read account:access"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Device authorization details.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "device_code",
                    "user_code",
                    "verification_uri",
                    "verification_uri_complete",
                    "expires_in",
                    "interval"
                  ],
                  "properties": {
                    "device_code": {
                      "type": "string",
                      "writeOnly": true
                    },
                    "user_code": {
                      "type": "string"
                    },
                    "verification_uri": {
                      "type": "string",
                      "format": "uri"
                    },
                    "verification_uri_complete": {
                      "type": "string",
                      "format": "uri"
                    },
                    "expires_in": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "interval": {
                      "type": "integer",
                      "minimum": 1
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/api/auth/device/token": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "operationId": "exchangeDeviceAuthorization",
        "summary": "Poll for an approved CLI session",
        "description": "Exchanges an approved device code for a revocable bearer session. Honor the issued polling interval and terminal OAuth device-flow errors.",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "grant_type",
                  "device_code",
                  "client_id"
                ],
                "properties": {
                  "grant_type": {
                    "type": "string",
                    "const": "urn:ietf:params:oauth:grant-type:device_code"
                  },
                  "device_code": {
                    "type": "string",
                    "writeOnly": true
                  },
                  "client_id": {
                    "type": "string",
                    "const": "video2ctx-cli"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approved CLI session.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "access_token",
                    "token_type",
                    "expires_in",
                    "scope"
                  ],
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "writeOnly": true
                    },
                    "token_type": {
                      "type": "string",
                      "const": "Bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "minimum": 1
                    },
                    "scope": {
                      "type": "string",
                      "const": "data:read account:access"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/search": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "searchPrivateEvidence",
        "summary": "Search the user’s private indexed evidence",
        "description": "Searches material previously saved or imported into the current user’s private research index.",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Evidence search query.",
            "schema": {
              "type": "string",
              "maxLength": 500,
              "example": "AI agents"
            }
          },
          {
            "name": "projectId",
            "in": "query",
            "required": false,
            "description": "Restrict private retrieval to a project.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Matching private evidence.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PrivateSearchResponse"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers": {
      "get": {
        "tags": [
          "Providers"
        ],
        "operationId": "listProviders",
        "summary": "List supported video providers",
        "description": "Returns the provider identifiers accepted in provider-scoped paths and the capabilities currently implemented for each provider.",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "responses": {
          "200": {
            "description": "Supported providers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProviderList"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/search": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "searchProvider",
        "summary": "Search a video provider",
        "description": "Searches the selected external provider. Cache hits cost less than fresh upstream retrieval.",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Provider search query.",
            "schema": {
              "type": "string",
              "maxLength": 500,
              "example": "AI agents"
            }
          },
          {
            "name": "type",
            "in": "query",
            "required": false,
            "description": "Provider entity type.",
            "schema": {
              "type": "string",
              "enum": [
                "all",
                "video",
                "channel",
                "playlist"
              ],
              "default": "all"
            }
          },
          {
            "name": "channel",
            "in": "query",
            "required": false,
            "description": "Restrict search to a channel.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Preferred language code.",
            "schema": {
              "type": "string",
              "example": "en"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "required": false,
            "description": "Video duration bucket.",
            "schema": {
              "type": "string",
              "enum": [
                "short",
                "medium",
                "long"
              ]
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Result ordering.",
            "schema": {
              "type": "string",
              "enum": [
                "relevance",
                "date",
                "views",
                "rating"
              ]
            }
          },
          {
            "name": "captions",
            "in": "query",
            "required": false,
            "description": "Only include captioned videos.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "live",
            "in": "query",
            "required": false,
            "description": "Live broadcast state.",
            "schema": {
              "type": "string",
              "enum": [
                "live",
                "upcoming",
                "completed"
              ]
            }
          },
          {
            "name": "continuation",
            "in": "query",
            "required": false,
            "description": "Opaque token returned by a previous provider search page.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Provider search results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResponse"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/browse": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "browseProvider",
        "summary": "Browse a provider discovery feed",
        "description": "Returns queryless discovery results from a supported destination on the selected provider.",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "category",
            "in": "query",
            "required": true,
            "description": "Discovery category.",
            "schema": {
              "type": "string",
              "enum": [
                "music",
                "news",
                "sports",
                "live"
              ],
              "example": "music"
            }
          },
          {
            "name": "region",
            "in": "query",
            "required": false,
            "description": "Supported region code.",
            "schema": {
              "type": "string",
              "enum": [
                "US",
                "IN"
              ],
              "default": "US",
              "example": "IN"
            }
          },
          {
            "name": "language",
            "in": "query",
            "required": false,
            "description": "Supported language code.",
            "schema": {
              "type": "string",
              "enum": [
                "en",
                "hi"
              ],
              "default": "en",
              "example": "en"
            }
          },
          {
            "name": "continuation",
            "in": "query",
            "required": false,
            "description": "Opaque pagination token.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Browse results.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrowseResponse"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/trends": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "operationId": "researchTrends",
        "summary": "Calculate public trend signals for a topic",
        "description": "Builds a diversified topic sample, persists public metric snapshots, calculates observed acceleration when history exists, and optionally adds GLM-generated evidence-grounded themes and content gaps.",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "q",
            "in": "query",
            "required": true,
            "description": "Topic to research.",
            "schema": {
              "type": "string",
              "maxLength": 200,
              "example": "AI agents"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Number of diversified videos to enrich; clamped to 8–30.",
            "schema": {
              "type": "integer",
              "minimum": 8,
              "maximum": 30,
              "default": 20
            }
          },
          {
            "name": "insights",
            "in": "query",
            "required": false,
            "description": "AI insight mode. Use deterministic to skip GLM analysis.",
            "schema": {
              "type": "string",
              "enum": [
                "ai",
                "deterministic"
              ],
              "default": "ai"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Topic trend report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TrendReport"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/trends/plan": {
      "post": {
        "tags": [
          "Discovery"
        ],
        "operationId": "generateTrendPlan",
        "summary": "Generate an AI video plan from trend signals",
        "description": "Uses Kimi K2.6 for strategic synthesis and automatically falls back to GPT-OSS 120B when Kimi is unavailable. The response identifies the model that produced it.",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "report"
                ],
                "properties": {
                  "report": {
                    "$ref": "#/components/schemas/TrendReport"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence-grounded video plan.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AiTrendPlan"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/videos/{id}": {
      "get": {
        "tags": [
          "Videos"
        ],
        "operationId": "getVideo",
        "summary": "Inspect a video",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Provider video ID.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "dQw4w9WgXcQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized video metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Video"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/videos/{id}/tracks": {
      "get": {
        "tags": [
          "Videos"
        ],
        "operationId": "getVideoTracks",
        "summary": "List transcript tracks",
        "description": "Lists the source caption tracks and auto-translation targets available to the transcript endpoint. This endpoint returns metadata, not caption text.",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Provider video ID.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "dQw4w9WgXcQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transcript track information.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CaptionTrackList"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/videos/{id}/transcript": {
      "get": {
        "tags": [
          "Videos"
        ],
        "operationId": "getVideoTranscript",
        "summary": "Get a timed transcript",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Provider video ID.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "dQw4w9WgXcQ"
            }
          },
          {
            "name": "lang",
            "in": "query",
            "required": false,
            "description": "Desired transcript language. The backend selects the default source track and translates only when necessary.",
            "schema": {
              "type": "string",
              "example": "hi"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized timed transcript.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Transcript"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/videos/{id}/comments": {
      "get": {
        "tags": [
          "Videos"
        ],
        "operationId": "getVideoComments",
        "summary": "Get video comments",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Provider video ID.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "dQw4w9WgXcQ"
            }
          },
          {
            "name": "continuation",
            "in": "query",
            "required": false,
            "description": "Opaque pagination token.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "all",
            "in": "query",
            "required": false,
            "description": "Fetch a bounded newest-first collection rather than one provider-default-ranked page. Inspect meta.partial and meta.warnings before treating the collection as complete.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A comment page or collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommentResponse"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/videos/{id}/endscreen": {
      "get": {
        "tags": [
          "Videos"
        ],
        "operationId": "getVideoEndscreen",
        "summary": "Get endscreen elements",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Provider video ID.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "dQw4w9WgXcQ"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Video endscreen elements.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EndscreenResponse"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/channels/{id}": {
      "get": {
        "tags": [
          "Channels"
        ],
        "operationId": "getChannel",
        "summary": "Inspect a channel",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Provider channel ID or handle.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "@YouTube"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized channel metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Channel"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/channels/{id}/videos": {
      "get": {
        "tags": [
          "Channels"
        ],
        "operationId": "getChannelVideos",
        "summary": "List channel videos",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Provider channel ID or handle.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "@YouTube"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "YouTube Videos-tab ordering.",
            "schema": {
              "type": "string",
              "enum": [
                "latest",
                "popular",
                "oldest"
              ],
              "default": "latest"
            }
          },
          {
            "name": "continuation",
            "in": "query",
            "required": false,
            "description": "Opaque token returned by the previous channel videos response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of channel videos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelVideos"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/channels/{id}/playlists": {
      "get": {
        "tags": [
          "Channels"
        ],
        "operationId": "getChannelPlaylists",
        "summary": "List channel playlists",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Provider channel ID or handle.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "@YouTube"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "YouTube Playlists-tab ordering.",
            "schema": {
              "type": "string",
              "enum": [
                "newest",
                "last-video-added"
              ],
              "default": "newest"
            }
          },
          {
            "name": "continuation",
            "in": "query",
            "required": false,
            "description": "Opaque token returned by the previous channel playlists response.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of channel playlists.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ChannelPlaylists"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/providers/{provider}/playlists/{id}": {
      "get": {
        "tags": [
          "Playlists"
        ],
        "operationId": "getPlaylist",
        "summary": "Inspect a playlist",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "provider",
            "in": "path",
            "required": true,
            "description": "External video provider.",
            "schema": {
              "type": "string",
              "enum": [
                "youtube"
              ],
              "example": "youtube"
            }
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Provider playlist ID.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "example": "PL123"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Normalized playlist and videos.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Playlist"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/projects": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "listProjects",
        "summary": "List projects",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "responses": {
          "200": {
            "description": "The user’s projects.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "projects"
                  ],
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      },
      "post": {
        "tags": [
          "Projects"
        ],
        "operationId": "createProject",
        "summary": "Create a project",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectCreated"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/projects/{id}": {
      "get": {
        "tags": [
          "Projects"
        ],
        "operationId": "getProject",
        "summary": "Get a project and its saved items",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Resource identifier.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Project details.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProjectDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      },
      "delete": {
        "tags": [
          "Projects"
        ],
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "description": "Deletes the project’s private R2 objects and AI Search items before cascading its D1 metadata.",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Resource identifier.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/projects/{id}/items": {
      "post": {
        "tags": [
          "Projects"
        ],
        "operationId": "addProjectItem",
        "summary": "Save material to a project",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Resource identifier.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateProjectItemRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project item created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/imports": {
      "post": {
        "tags": [
          "Research"
        ],
        "operationId": "createImport",
        "summary": "Start a durable import job",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": false,
            "description": "Optional caller-provided idempotency key.",
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateImportRequest"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Import queued or an existing idempotent job returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/JobAccepted"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/jobs/{id}": {
      "get": {
        "tags": [
          "Research"
        ],
        "operationId": "getJob",
        "summary": "Get import job status",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Resource identifier.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Durable job status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Job"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/answers": {
      "post": {
        "tags": [
          "Research"
        ],
        "operationId": "createAnswer",
        "summary": "Generate a cited answer",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnswerRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence-grounded answer.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitedAnswer"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/comparisons": {
      "post": {
        "tags": [
          "Research"
        ],
        "operationId": "createComparison",
        "summary": "Compare private research sources",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ComparisonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence-grounded comparison.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitedAnswer"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/reports": {
      "post": {
        "tags": [
          "Research"
        ],
        "operationId": "createReport",
        "summary": "Generate an evidence-first report",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Evidence-grounded report.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CitedAnswer"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/projects/{id}/exports": {
      "post": {
        "tags": [
          "Exports"
        ],
        "operationId": "createProjectExport",
        "summary": "Create a project export",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Resource identifier.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateExportRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Export created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Export"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/exports/{id}/download": {
      "get": {
        "tags": [
          "Exports"
        ],
        "operationId": "downloadExport",
        "summary": "Download an export",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Resource identifier.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Export file.",
            "headers": {
              "Content-Disposition": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/octet-stream": {
                "schema": {
                  "type": "string",
                  "format": "binary"
                }
              },
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              },
              "text/csv": {
                "schema": {
                  "type": "string"
                }
              },
              "application/json": {
                "schema": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/monitors": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "listMonitors",
        "summary": "List monitors",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "responses": {
          "200": {
            "description": "The user’s monitors.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "monitors"
                  ],
                  "properties": {
                    "monitors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Monitor"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      },
      "post": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "createMonitor",
        "summary": "Create a monitor",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMonitorRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/monitors/{id}": {
      "patch": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "updateMonitor",
        "summary": "Update a monitor schedule or display metadata",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Resource identifier.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "query": {
                    "type": "object",
                    "additionalProperties": true
                  },
                  "intervalMinutes": {
                    "$ref": "#/components/schemas/MonitorIntervalMinutes"
                  },
                  "enabled": {
                    "type": "boolean"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor updated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MonitorSchedule"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      },
      "delete": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "deleteMonitor",
        "summary": "Delete a monitor",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Resource identifier.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Monitor deleted. The response is also successful when no matching monitor exists."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/notifications": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "listNotifications",
        "summary": "List recent notifications",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "responses": {
          "200": {
            "description": "Up to 100 recent notifications.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "notifications"
                  ],
                  "properties": {
                    "notifications": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Notification"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/notifications/{id}/read": {
      "post": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "markNotificationRead",
        "summary": "Mark a notification as read",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "Resource identifier.",
            "schema": {
              "type": "string",
              "minLength": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Read state acknowledged.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "read"
                  ],
                  "properties": {
                    "read": {
                      "const": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/notification-preferences": {
      "get": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "getNotificationPreferences",
        "summary": "Get notification preferences",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current preferences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPreferences"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      },
      "put": {
        "tags": [
          "Monitoring"
        ],
        "operationId": "updateNotificationPreferences",
        "summary": "Update notification preferences",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPreferencesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated preferences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPreferences"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/usage": {
      "get": {
        "tags": [
          "Billing"
        ],
        "operationId": "getUsage",
        "summary": "Get plan limits and credit balance",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current entitlements and credits.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Usage"
                }
              }
            },
            "headers": {
              "X-Credits-Charged": {
                "$ref": "#/components/headers/CreditsCharged"
              },
              "X-Credits-Remaining": {
                "$ref": "#/components/headers/CreditsRemaining"
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/InsufficientCredits"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    },
    "/v1/account": {
      "get": {
        "tags": [
          "Account"
        ],
        "operationId": "getAccountIdentity",
        "summary": "Get the authenticated account identity",
        "description": "Returns the account attached to the current browser session, CLI session, or personal API key without exposing credential material.",
        "security": [
          {
            "bearerApiKey": []
          },
          {
            "sessionCookie": []
          },
          {
            "cliSession": []
          },
          {
            "apiKey": []
          },
          {
            "demoUser": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current account identity and authentication method.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "user",
                    "authentication"
                  ],
                  "properties": {
                    "user": {
                      "type": "object",
                      "required": [
                        "id",
                        "email"
                      ],
                      "properties": {
                        "id": {
                          "type": "string"
                        },
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "name": {
                          "type": [
                            "string",
                            "null"
                          ]
                        }
                      }
                    },
                    "authentication": {
                      "type": "object",
                      "required": [
                        "method"
                      ],
                      "properties": {
                        "method": {
                          "type": "string",
                          "enum": [
                            "session",
                            "cli-session",
                            "api-key",
                            "demo"
                          ]
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "500": {
            "$ref": "#/components/responses/ServerError"
          }
        },
        "x-video2ctx-audience": "consumer"
      }
    }
  },
  "components": {
    "securitySchemes": {
      "sessionCookie": {
        "type": "apiKey",
        "in": "cookie",
        "name": "better-auth.session_token",
        "description": "Better Auth session cookie. A production deployment may use the secure-prefixed cookie name; same-origin browser requests send it automatically."
      },
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "X-API-Key",
        "description": "Legacy-compatible header for a permanent personal API key. Prefer Authorization: Bearer aty_…."
      },
      "bearerApiKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API key",
        "description": "Permanent personal API key created in the dashboard. Example: curl -H \"Authorization: Bearer aty_…\" https://your-host/v1/projects"
      },
      "cliSession": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "CLI session",
        "description": "Short-lived, revocable session issued by the video2ctx device authorization flow. The official CLI stores and sends this value; never paste it into prompts or logs."
      },
      "demoUser": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Demo-User",
        "description": "Local development only. Any stable value selects an isolated demo account. Rejected in production."
      },
      "stripeSignature": {
        "type": "apiKey",
        "in": "header",
        "name": "stripe-signature",
        "description": "Stripe-generated signature over the exact raw request body."
      }
    },
    "headers": {
      "CreditsCharged": {
        "description": "Credits settled for this operation.",
        "schema": {
          "type": "integer",
          "minimum": 0
        }
      },
      "CreditsRemaining": {
        "description": "Current balance in the owning user account after the request is metered.",
        "schema": {
          "type": "integer"
        }
      }
    },
    "responses": {
      "BadRequest": {
        "description": "The request is malformed.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Unauthorized": {
        "description": "Authentication is required.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "Forbidden": {
        "description": "The caller is not allowed to perform this operation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "InsufficientCredits": {
        "description": "The user account does not have enough credits. Error code: INSUFFICIENT_CREDITS.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        },
        "headers": {
          "X-Credits-Charged": {
            "$ref": "#/components/headers/CreditsCharged"
          },
          "X-Credits-Remaining": {
            "$ref": "#/components/headers/CreditsRemaining"
          }
        }
      },
      "NotFound": {
        "description": "The requested resource was not found.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ValidationError": {
        "description": "The request failed validation.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "RateLimited": {
        "description": "The public rate limit was exceeded.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServerError": {
        "description": "An unexpected server error occurred.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      },
      "ServiceUnavailable": {
        "description": "An upstream AI or YouTube service is unavailable.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/Error"
            }
          }
        }
      }
    },
    "schemas": {
      "Error": {
        "type": "object",
        "required": [
          "error"
        ],
        "properties": {
          "error": {
            "type": "object",
            "required": [
              "code",
              "message"
            ],
            "properties": {
              "code": {
                "type": "string",
                "example": "QUERY_REQUIRED"
              },
              "message": {
                "type": "string"
              },
              "details": {},
              "requestId": {
                "type": "string"
              }
            }
          }
        }
      },
      "ServiceInfo": {
        "type": "object",
        "required": [
          "service",
          "version",
          "status",
          "capabilities"
        ],
        "properties": {
          "service": {
            "const": "video2ctx-platform"
          },
          "version": {
            "const": "v1"
          },
          "status": {
            "const": "ok"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        }
      },
      "Health": {
        "type": "object",
        "required": [
          "status",
          "timestamp"
        ],
        "properties": {
          "status": {
            "const": "ok"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "MagicLinkSignInRequest": {
        "type": "object",
        "required": [
          "email"
        ],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "creator@example.com"
          },
          "callbackURL": {
            "type": "string",
            "default": "/"
          }
        }
      },
      "SocialSignInRequest": {
        "type": "object",
        "required": [
          "provider"
        ],
        "properties": {
          "provider": {
            "const": "google"
          },
          "callbackURL": {
            "type": "string",
            "default": "/"
          }
        }
      },
      "CreateApiKeyRequest": {
        "type": "object",
        "required": [
          "name"
        ],
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 32,
            "example": "Production integration"
          }
        }
      },
      "ApiKey": {
        "type": "object",
        "required": [
          "id",
          "configId",
          "referenceId",
          "enabled",
          "rateLimitEnabled",
          "requestCount",
          "createdAt",
          "updatedAt"
        ],
        "properties": {
          "id": {
            "type": "string"
          },
          "configId": {
            "type": "string",
            "const": "default"
          },
          "name": {
            "type": [
              "string",
              "null"
            ]
          },
          "start": {
            "type": [
              "string",
              "null"
            ],
            "description": "Safe starting characters used to identify the key."
          },
          "prefix": {
            "type": [
              "string",
              "null"
            ],
            "example": "aty_"
          },
          "referenceId": {
            "type": "string"
          },
          "enabled": {
            "type": "boolean"
          },
          "rateLimitEnabled": {
            "type": "boolean"
          },
          "rateLimitTimeWindow": {
            "type": [
              "integer",
              "null"
            ],
            "example": 60000
          },
          "rateLimitMax": {
            "type": [
              "integer",
              "null"
            ],
            "example": 60
          },
          "requestCount": {
            "type": "integer",
            "minimum": 0
          },
          "lastRequest": {
            "type": [
              "string",
              "null"
            ],
            "format": "date-time"
          },
          "expiresAt": {
            "type": [
              "string",
              "null"
            ],
            "description": "Always null for permanent keys."
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          },
          "updatedAt": {
            "type": "string",
            "format": "date-time"
          },
          "permissions": {
            "type": [
              "object",
              "null"
            ],
            "additionalProperties": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          }
        }
      },
      "CreatedApiKey": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ApiKey"
          },
          {
            "type": "object",
            "required": [
              "key"
            ],
            "properties": {
              "key": {
                "type": "string",
                "writeOnly": true,
                "example": "aty_…",
                "description": "Returned only when the key is created."
              }
            }
          }
        ]
      },
      "ApiKeyList": {
        "type": "object",
        "required": [
          "apiKeys",
          "total"
        ],
        "properties": {
          "apiKeys": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ApiKey"
            }
          },
          "total": {
            "type": "integer",
            "minimum": 0
          },
          "limit": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 1
          },
          "offset": {
            "type": [
              "integer",
              "null"
            ],
            "minimum": 0
          }
        }
      },
      "ResolveRequest": {
        "type": "object",
        "required": [
          "input"
        ],
        "properties": {
          "input": {
            "type": "string",
            "maxLength": 500,
            "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          }
        }
      },
      "LandingDemoInspectionRequest": {
        "type": "object",
        "required": [
          "url"
        ],
        "properties": {
          "url": {
            "type": "string",
            "format": "uri",
            "maxLength": 500,
            "example": "https://www.youtube.com/watch?v=dQw4w9WgXcQ"
          }
        }
      },
      "LandingDemoQuota": {
        "type": "object",
        "required": [
          "limit",
          "remaining",
          "resetAt",
          "repeated"
        ],
        "properties": {
          "limit": {
            "type": "integer",
            "const": 5
          },
          "remaining": {
            "type": "integer",
            "minimum": 0,
            "maximum": 5
          },
          "resetAt": {
[...]
